.catalog-container {
    max-width: 100%;
    box-sizing: border-box;
    .catalog-filter {
        display: flex;
        max-width: 100%;
        .catalog-filter-1 {
            display: flex;
            width: 50%;
            gap: 12%;
            .catalog-filter-p {
                align-items: center;
                display: flex;
            }
            .select {
                padding: 5px;
                border-radius: 5px;
            }
        }
        .catalog-filter-2 {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            .select {
                padding: 5px;
                background-color: rgb(129, 128, 128) ;
                color: white;
                border-radius: 5px;
            }
        }
    }
    .catalog-listItem {
        .catalog-list-grid {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            .item {
                height: 330px ;
                .item-img {
                    height: 85% ;
                }
            }
        }
    }
    .catalog-btn {
        padding: 25px 0;
        display: flex;
        justify-content: center;
    }
    .ctl-divide {
        width: 100%;
        height: 1px;
        background-color: rgb(190, 186, 186);
        margin-top: 30px;
    }
}

.pad-15-20 {
    padding: 15px 20px;
}
