.item {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    height: 45vh;
    
    .item-img {
        height: 70%;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .item-bonus {
        font-size: 12px;
        top: 35px;
        left: 35px;
        position: absolute;
        font-weight: 600;
    }
    .item-description {
        font-size: 14px;
        text-align: start;
        padding: 10px 0;
        font-weight: 700;
    }
    .item-money {
        display: flex;
        font-size: 14px;
        align-items: center;
        gap: 10%;
        .item-sale {
            color: rgb(252, 153, 61);
        }
        .item-price, .item-sale {
            width: 5%;
        }
        .item-btn {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            button {
                padding: 5px 20px;
                background-color: white;
                cursor: pointer;
            }
            button:hover {
                background-color: black;
                color: white;
            }
        }
    }
}