.header {
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: #F5F5F5;
}
.header-3 {
    display: flex;
    font-weight: 600;
    padding: 10px 0;
}

.header-3-item {
    flex: 1;
}
.header-3-item h2 {
    font-family: 'Roboto', sans-serif;
}
.header-3a,
.header-3b,
.header-3c {
    display: flex;
    gap: 25px;
    align-items: center;
}

.header-3a {
    margin-left: 10px;
}
.header-3a button {
    padding: 0 5px;
    cursor: pointer;
}
.header-3b {
    justify-content: center;
}

.header-3c {
    justify-content: end;
    margin-right: 18px;
}
.header-3-itemCart {
    position: relative;
    display: flex;
}
.header-3-itemAmount {
    position: absolute;
    left: 10px;
    bottom: 15px;
    padding: 0 4px;
    background-color: yellow;
    border-radius: 70%;
    z-index: 2;
    font-size: 14px;
}
.fa-cart-shopping {
    font-size: 20px;
}