@media only screen and (max-width: 600px) {
    .col-1 {
        width: 10% !important;
    }

    .col-2 {
        width: 20% !important;
    }

    .col-3 {
        width: 30% !important;
    }

    .col-4 {
        width: 40% !important;
    }

    .col-5 {
        width: 50% !important;
    }

    .col-6 {
        width: 60% !important;
    }

    .col-7 {
        width: 70% !important;
    }

    .col-8 {
        width: 80% !important;
    }

    .col-9 {
        width: 90% !important;
    }

    .col-10 {
        width: 100% !important;
    }
}

@media only screen and (max-width: 600px) {

    /* header */
    .header {
        background-color: #F5F5F5 !important;
    }

    .header-3-item {
        gap: 10px !important;
        flex: auto !important;
    }

    .header-3-item-2 {
        display: none !important;
    }

    .header-3c {
        justify-content: end !important;
        margin-right: 12px !important;
    }

    .header-3-dola {
        font-size: 12px !important;
    }

    .fa-cart-shopping {
        font-size: 15px !important;
    }

    .header-3-itemAmount {
        left: 10px !important;
        bottom: 12px !important;
        font-size: 14px !important;
    }

    /* header */

    /* footer */
    .footer-information h2 {
        margin-left: 10px !important;
    }

    .footer-3 {
        gap: 20px !important;
        justify-content: center !important;
    }

    .footer-3b {
        margin: 0 !important;
        border: none !important;
        padding: 0 !important;
    }

    .footer-3b-1,
    .footer-3b-2 {
        padding: 0 !important;
    }

    .footer-3b-2 {
        margin-left: 50px !important;
    }

    .footer-3c {
        display: flex !important;
        flex-direction: column !important;
        margin: 0 auto !important;
    }

    .footer-3c-1 {
        margin-top: 20px !important;
    }

    /* footer */

    /* homepage */
    .homepage-container {
        padding: 10px !important;
    }

    .homepage-fashion-3 {
        gap: 0 !important;
        flex-wrap: wrap !important;
    }

    .homepage-slide-img {
        margin: 0 auto !important;
    }

    .hp-fashion-img {
        display: none !important;
    }

    .hp-fashion-description {
        margin: 0 !important;
    }

    .hp-fs-description-grid-item1,
    .hp-fs-description-grid-item2 {
        padding: 10px !important;
    }

    .hp-fs-description-grid-item1 {
        line-height: 28px !important;
        font-weight: 200 !important;
    }

    .homepage-newss {
        display: none !important;
    }

    .homepage-product {
        padding: 30px 0 !important;
    }

    .homepage-listItem {
        display: grid !important;
        grid-template-columns: auto auto !important;
    }

    .hp-sale-item-text {
        display: flex !important;
        align-items: center !important;
        gap: 10px !important;
    }

    .hp-sale-item-text p {
        font-size: 20px !important;
    }

    .hp-sale-item-text button {
        padding: 8px !important;
    }

    .homepage-subcribe {
        background-color: white !important;
        height: 250px !important;
    }

    .homepage-subcribe-form-item {
        padding: 20px !important;
        border: 1px solid #EFEFEF !important;
    }

    .homepage-categories-form-item2 {
        justify-content: start !important;
        flex-wrap: wrap !important;
    }

    .homepage-categories-form-item2 div {
        padding: 15px 5px !important;
    }

    .homepage-categories-form-item2 a {
        padding: 10px 20px !important;
    }

    .homepage-instagram-item2 {
        margin-top: 20px !important;
    }

    .homepage-instagram-item2 img {
        display: flex;
        margin: 0 auto;
    }

    .hp-instagram-arrow {
        padding: 30px 0 !important;
    }

    /* homepage */

    /* login */
    .login-content-left {
        height: 50% !important;
        order: 2 !important;
    }

    .login-content-right {
        order: 1 !important;
        background-color: white !important;
        height: 600px !important;
    }

    .login-content-left-item {
        padding-top: unset !important;
    }

    .login-content-right-item {
        padding-top: 40px !important;
    }

    /* login */

    /* Register */
    .register-content-left {
        height: 50% !important;
        order: 2 !important;
        padding-top: 50px !important;
    }

    .register-content-right {
        order: 1 !important;
        background-color: white !important;
        height: max-content !important;
    }

    .register-content-left-item {
        padding-top: unset !important;
    }

    .register-content-right-item {
        padding-top: 40px !important;
    }
    .register-content-right-item form {
        width: 240px !important;
    }
    .register-content-right-item .fa-eye {
        margin-top: 9px !important;
    }

    /* Register */

    /* Catalog */
    .catalog-filter-1 {
        gap: 5% !important;
    }

    .catalog-list-grid {
        grid-template-columns: auto auto !important;
    }

    .catalog-listItem .item {
        height: max-content !important;
    }

    .catalog-listItem .item .item-img {
        height: 170px !important;
    }

    /* Catalog */

    /* Item */
    .item {
        padding: 8px !important;
        height: auto !important;
    }

    .item-bonus {
        top: 12px !important;
        left: 12px !important;
        color: #de1919;
        font-size: 12px !important
    }

    .item-description {
        font-size: 14px !important;
    }

    .item-money {
        flex-wrap: wrap !important;
    }

    .item-money button {
        font-size: 12px !important;
        margin-top: 5px !important;
    }

    .item-money .item-btn {
        justify-content: flex-start !important;
    }

    /* Item */

    /* Detail */
    .detail-product-1,
    .detail-product-description {
        flex-wrap: wrap !important;
    }

    .detail-product-image {
        margin-right: 0px !important;
    }

    .dt-product-image {
        gap: 0px !important;
    }

    .dt-product-detail,
    .dt-product-information {
        max-width: 100% !important;
        padding: 15px !important;
    }

    .tag {
        padding: 20px 0 !important;
    }

    .related-listItem {
        margin: 0 !important;
    }

    .related-listItem .item .item-money {
        display: none !important;
    }

    .related-listItem .item .item-bonus {
        top: 15px !important;
        left: 15px !important;
    }

    .related-listItem .item:nth-child(3) {
        display: none !important;
    }

    /* Detail */

    /* Checkout */
    .checkout-content,
    .ck-form-user,
    .ck-form-billing-2-2,
    .ck-form-billing-2-2-2,
    .ck-form-method,
    .ck-cart-access {
        flex-wrap: wrap !important;
    }

    input[type=text] {
        border: 1px solid black !important;
    }

    select {
        margin: 10px 0 !important;
        border: 1px solid black !important;
    }

    .ck-cart-access button {
        display: flex !important;
        margin: 0 auto !important;
        padding: 10px 15px !important;
        margin-top: 10px !important;
    }

    .checkout-content .item-img {
        width: 40% !important;
    }

    /* Checkout */

    /* About */
    .about-content {
        margin: 0 !important;
        padding: 0px !important;
    }

    .abt-content-1,
    .abt-content-2 {
        flex-wrap: wrap !important;
    }

    .abt-content-2>img {
        order: 1 !important;
    }

    .abt-content-description {
        order: 2 !important;
        align-items: center !important;
    }

    .abt-content-icon {
        gap: 20% !important;
        justify-content: center !important;
    }

    .abt-content-description>h4 {
        margin: 0 !important;
        width: 80% !important;
    }

    .abt-content-img>img {
        display: flex !important;
        margin: 0 auto !important;
        padding-bottom: 20px !important;
    }

    /* About */

    /* Account */
    .account-content-1,
    .account-content-2 {
        padding: 5px 0 !important;
    }

    .account-content-1 .fa-chevron-left {
        display: none !important;
    }

    .account-content-1 a {
        color: rgb(44, 100, 183) !important;
    }

    .account-content-2 a {
        font-size: 12px !important;
    }

    .act-content-order-2 {
        text-align: center !important;
    }

    .act-content-order-3,
    .act-content-order-4,
    .act-content-order-5 {
        display: none !important;
    }

    .act-content-order-6 {
        display: block !important;
    }

    /* Account */

    /* Sidebar */
    .sidebar-container {
        top: 10px !important;
        transform: translateX(-150%) !important;
        width: 50% !important;
    }

    .active {
        transform: translateX(0%) !important;
    }

    .sidebar-information {
        display: none !important;
    }

    .sidebar-social {
        flex-wrap: wrap !important;
        gap: 10% !important;
    }

    /* Sidebar */

    /* Cart */
    .cart-content {
        padding: 15px 5px !important;
    }

    .cart-content-infor {
        flex-wrap: wrap !important;
    }

    .cart-content-2 {
        padding: 20px 0;
    }

    table {
        table-layout: fixed !important;
    }

    tr th {
        display: none !important;
        position: relative !important;
    }

    td {
        flex-wrap: wrap !important;
        display: flex;
        border: none !important;
        position: relative !important;
        justify-content: center !important;
        padding: 0 !important;
    }

    .td-amount {
        justify-content: center !important;
        gap: 5% !important;
    }

    .td-amount-btn {
        flex-direction: row !important;
        gap: 10%;
    }

    .cart-content-2 {
        max-width: 100% !important;
    }

    /* Cart */
}